In [1]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set the executable path and initialize Splinter
from webdriver_manager.chrome import ChromeDriverManager
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/lbl/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

### Visit the NASA Mars News Site

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# Save the browser's html attribute and clean it using BeautifulSoup
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [5]:
# WRITE YOUR OWN CODE TO DEFINE THIS STRING
news_title = news_soup.find_all('div', class_='content_title')[0].text
news_title

"A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes"

In [6]:
news_p = news_soup.find_all('div', class_='article_teaser_body')[0].text
news_p

"Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition. "

### JPL Space Images Featured Image

In [7]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [8]:
# Save the browser's html attribute and clean it using BeautifulSoup
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [9]:
relative_image_url_scraped_from_site = img_soup.find_all('div', class_='floating_text_area')[0].find('a')['href']
relative_image_url_scraped_from_site

'image/featured/mars3.jpg'

In [10]:
# Use the base url to create an absolute url
featured_image_url = f'https://spaceimages-mars.com/{relative_image_url_scraped_from_site}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts

In [11]:
# WHEN USING THE pd.read_html function, WHY DO YOU THINK WE HAD TO GET THE ZERO-th INDEX?
# HINT: Peak around the website below to perhaps understand why...
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
# WRITE YOUR OWN CODE TO CLEAN THIS DATAFRAME
df.columns = ['Description','Mars', 'Earth']
df = df.set_index('Description')
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [13]:
# CONVERT TO HTML :)
# YAY PAND
mars_facts = df.to_html()
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [14]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [15]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Write a for loop to retrieve the image urls and titles for each hemisphere in the url above.
html = browser.html
results = BeautifulSoup(html, 'html.parser')

In [19]:
images = results.find_all('div', class_='item')

for image in images:
    sphere = image.find('img')['src']
    hemi = {}
    hemi['title']= image.find('h3').text
    hemi['img_url'] = f'{url}{sphere}'
    hemisphere_image_urls.append(hemi)

In [20]:
# Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/usgs_logo_main_2x.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/usgs_logo_main_2x.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/usgs_logo_main_2x.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/usgs_logo_main_2x.png'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [ ]:
# Finally, close the Google Chrome window...
browser.quit()